<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/custom-styles.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
  </head>
  <body>
    <%include header.ejs%>
    <section>
        <%include left_colum.ejs%>
        <div class="right_board">
          <header>
              <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 h1">
                <p>
                  所有交易物品
                </p>
              </div>
              <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 h1">
                <div class="input-group">
                  <input type="text" class="form-control" id= "search-exchange-goods"  placeholder="Search for you need ...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-goods">Go!</button>
                  </span>
                </div><!-- /input-group -->
              </div>
          </header>
          <% for(var i= 0;i<result.length;i++) {%>
            <section>
              <div class="container-fluid">
                <div class="row">
                  <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div id="carousel-example-generic<%= i %>" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="0" class="active" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay +'0.png' || '/img/down_img.jpg' %>);"></li>
                        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="1" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay+'1.png' || '/img/down_img.jpg' %>);"></li>
                        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="2" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay+'2.png' || '/img/down_img.jpg' %>);"></li>
                        <li data-target="#carousel-example-generic<%= i %>" data-slide-to="3" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay +'3.png' || '/img/down_img.jpg' %>);"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active sec-goods-img-default">
                          <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay +'0.png' || '/img/down_img.jpg' %>);">

                          </div>
                          <div class="carousel-caption">
                          </div>
                        </div>
                        <div class="item sec-goods-img-default">
                          <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay +'1.png' || '/img/down_img.jpg' %>);">

                          </div>
                          <div class="carousel-caption">
                          </div>
                        </div>
                        <div class="item sec-goods-img-default">
                          <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay +'2.png' || '/img/down_img.jpg' %>);">

                          </div>
                          <div class="carousel-caption">
                          </div>
                        </div>
                        <div class="item sec-goods-img-default">
                          <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ result[i].username + result[i].userGoodsName + result[i].selectWay +'3.png' || '/img/down_img.jpg' %>);">

                          </div>
                          <div class="carousel-caption">
                          </div>
                        </div>
                      </div>

                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic<%= i %>" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic<%= i %>" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="">
                      <ul>
                        <li>
                          <span class="right_board_categories">类别：</span>
                          <span class="right_board_categories_name"><%= result[i].userGoodsSort%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">名称：</span>
                          <span class="right_board_categories_name"><%= result[i].userGoodsName%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">换向：</span>
                          <span class="right_board_categories_name"><%= result[i].userChangeTar%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">原价(¥)：</span>
                          <span class="right_board_categories_name"><%= result[i].userGoodsPrice%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">用时：</span>
                          <span class="right_board_categories_name"><%= result[i].userGoodsUseTime%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">联系电话：</span>
                          <span class="right_board_categories_name"><%= result[i].userPhone%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">发布时间：</span>
                          <span class="right_board_categories_name"><%= result[i].publicTime%></span>
                        </li>
                        <li>
                          <span class="right_board_categories">详细补充：</span> <br>
                          <span class="product_details_addText right_board_categories_name">
                              <%= result[i].userGoodsaddText%>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <hr>
          <% }%>
          <footer class="deliver-page">
            <nav aria-label="Page navigation" class="navbar  navbar-right">
              <ul class="pagination exchangePagination">

              </ul>
              </nav>
          </footer>
          <footer class="copy_right" style="margin-left:360px;">
              <p>Copyright © 2017.Adou All rights reserved.</p>
          </footer>
        </div>
    </section>

    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/custom-styles.js">

    </script>
  </body>
</html>
