<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/custom-styles.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
  </head>
  <body>
    <%include header.ejs%>
    <section>
        <%include left_colum.ejs%>
        <div class="right_board">
          <header>
              <h4 style= "margin-top: 30px;margin-left:30px">个人中心</h4>
              <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 h5">
                <a href="#exchange-jump">所有交换</a>
                <a href="#sale-jump">所有变卖</a>
                <a href="#send-jump">所有赠送</a>
                <a href="#donate-jump">所有捐献</a>
              </div>
              <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 h1">
                <div class="input-group">
                  <input type="text" class="form-control" id= "search-exchange-goods"  placeholder="Search for you need ...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-goods">Go!</button>
                  </span>
                </div><!-- /input-group -->
              </div>
          </header>

          <section class="exchangeList">
            <div>
              <h3  id= "exchange-jump">所有交换</h3>
              <% for(var i= 0;i<exchangelistCount.length;i++) {%>
                <section class="goodsList">
                  <div class="container-fluid">
                    <% if(exchangelistCount[i].goodsStatus == "finish") { %>
                        <div class="row disabled">
                    <% } else {%>
                    <div class="row">
                    <% } %>
                      <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div id="carousel-example-generic<%= i %>" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic<%= i %>" data-slide-to="0" class="active" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale') +'0.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-example-generic<%= i %>" data-slide-to="1" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale')+'1.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-example-generic<%= i %>" data-slide-to="2" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale')+'2.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-example-generic<%= i %>" data-slide-to="3" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale') +'3.png' || '/img/down_img.jpg' %>);"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale') +'0.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale') +'1.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale') +'2.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ exchangelistCount[i].username + exchangelistCount[i].userGoodsName + (exchangelistCount[i].selectWay||'sale') +'3.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#carousel-example-generic<%= i %>" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-example-generic<%= i %>" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                      <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="">
                          <ul>
                            <li>
                              <span class="right_board_categories">类别：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userGoodsSort%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">名称：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userGoodsName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">原价(¥)：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userGoodsPrice%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">换向：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userChangeTar%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">用时：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userGoodsUseTime%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系人：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系电话：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].userPhone%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">发布时间：</span>
                              <span class="right_board_categories_name"><%= exchangelistCount[i].publicTime%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">交易状态：</span>

                              <% if(exchangelistCount[i].goodsStatus == "finish") { %>
                                <button class ="btn btn-success" disabled>交易结束</button>
                              <% } else {%>
                                <button class ="btn btn-success exchangeFinish">交易进行中</button>
                              <%}%>

                            </li>
                            <li>
                              <span class="right_board_categories">详细补充：</span> <br>
                              <span class="product_details_addText right_board_categories_name">
                                  <%= exchangelistCount[i].userGoodsaddText%>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(exchangelistCount[i].goodsStatus == "finish") { %>
                      <i class="fa fa-times"></i>
                  <% } else {%>
                    <i class="fa fa-times" style="display: none;"></i>
                  <% } %>
                </section>
                <button>删除此记录</button>
                <hr>
              <% }%>
            </div>
          </section>
          <section class="saleList" >
            <div>
              <h3 id= "sale-jump">所有变卖</h3>
              <% for(var i= 0;i<salelistCount.length;i++) {%>
                <section class="goodsList">
                  <div class="container-fluid">
                    <% if(salelistCount[i].goodsStatus == "finish") { %>
                      <div class="row disabled">
                    <% } else {%>
                      <div class="row">
                    <% } %>
                      <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div id="<%= i %>" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#<%= i %>" data-slide-to="0" class="active" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale') +'0.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#c<%= i %>" data-slide-to="1" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale')+'1.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#<%= i %>" data-slide-to="2" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale')+'2.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#<%= i %>" data-slide-to="3" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale') +'3.png' || '/img/down_img.jpg' %>);"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale') +'0.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale') +'1.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale') +'2.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ salelistCount[i].username + salelistCount[i].userGoodsName + (salelistCount[i].selectWay||'sale') +'3.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#<%= i %>" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#<%= i %>" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                      <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="">
                          <ul>
                            <li>
                              <span class="right_board_categories">类别：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userGoodsSort%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">名称：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userGoodsName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">原价(¥)：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userGoodsPrice%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">卖价(¥)：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userGoodsSalePrice%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">用时：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userGoodsUseTime%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系人：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系电话：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].userPhone%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">发布时间：</span>
                              <span class="right_board_categories_name"><%= salelistCount[i].publicTime%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">交易状态：</span>

                              <% if(salelistCount[i].goodsStatus == "finish") { %>
                                <button class ="btn btn-success " disabled>交易结束</button>
                              <% } else {%>
                                <button class ="btn btn-success saleFinish">交易进行中</button>
                              <%}%>

                            </li>
                            <li>
                              <span class="right_board_categories">详细补充：</span> <br>
                              <span class="product_details_addText right_board_categories_name">
                                  <%= salelistCount[i].userGoodsaddText%>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(salelistCount[i].goodsStatus == "finish") { %>
                      <i class="fa fa-times"></i>
                  <% } else {%>
                    <i class="fa fa-times" style="display: none;"></i>
                  <% } %>
                </section>
                <hr>
              <% }%>
            </div>
          </section>
          <section class="sendList" >
            <div>
              <h3 id= "send-jump">所有赠送</h3>
              <% for(var i= 0;i<sendlistCount.length;i++) {%>
                <section class="goodsList">
                  <div class="container-fluid">
                    <% if(sendlistCount[i].goodsStatus == "finish") { %>
                        <div class="row disabled">
                    <% } else {%>
                    <div class="row">
                    <% } %>
                      <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div id="carousel-sendList-generic<%= i %>" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel-sendList-generic<%= i %>" data-slide-to="0" class="active" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay +'0.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-sendList-generic<%= i %>" data-slide-to="1" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay+'1.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-sendList-generic<%= i %>" data-slide-to="2" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay+'2.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-sendList-generic<%= i %>" data-slide-to="3" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay +'3.png' || '/img/down_img.jpg' %>);"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay +'0.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay +'1.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay +'2.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ sendlistCount[i].username + sendlistCount[i].userGoodsName + sendlistCount[i].selectWay +'3.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#carousel-sendList-generic<%= i %>" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-sendList-generic<%= i %>" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                      <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="">
                          <ul>
                            <li>
                              <span class="right_board_categories">类别：</span>
                              <span class="right_board_categories_name"><%= sendlistCount[i].userGoodsSort%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">名称：</span>
                              <span class="right_board_categories_name"><%= sendlistCount[i].userGoodsName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系人：</span>
                              <span class="right_board_categories_name"><%= sendlistCount[i].userName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系电话：</span>
                              <span class="right_board_categories_name"><%= sendlistCount[i].userPhone%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">发布时间：</span>
                              <span class="right_board_categories_name"><%= sendlistCount[i].publicTime%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">交易状态：</span>

                              <% if(sendlistCount[i].goodsStatus == "finish") { %>
                                <button class ="btn btn-success" disabled>交易结束</button>
                              <% } else {%>
                                <button class ="btn btn-success sendFinish">交易进行中</button>
                              <%}%>

                            </li>
                            <li>
                              <span class="right_board_categories">详细补充：</span> <br>
                              <span class="product_details_addText right_board_categories_name">
                                  <%= sendlistCount[i].userGoodsaddText%>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(sendlistCount[i].goodsStatus == "finish") { %>
                      <i class="fa fa-times"></i>
                  <% } else {%>
                    <i class="fa fa-times" style="display: none;"></i>
                  <% } %>
                </section>
                <button>删除此记录</button>
                <hr>
              <% }%>
            </div>
          </section>
          <section class="donateList" >
              <h3 id= "donate-jump">所有捐献</h3>
              <% for(var i= 0;i<donatelistCount.length;i++) {%>
                <section class="goodsList">
                  <div class="container-fluid">
                    <% if(donatelistCount[i].goodsStatus == "finish") { %>
                        <div class="row disabled">
                    <% } else {%>
                    <div class="row">
                    <% } %>
                      <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div id="carousel-donateList-generic<%= i %>" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel-donateList-generic<%= i %>" data-slide-to="0" class="active" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay +'0.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-donateList-generic<%= i %>" data-slide-to="1" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay+'1.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-donateList-generic<%= i %>" data-slide-to="2" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay+'2.png' || '/img/down_img.jpg' %>);"></li>
                            <li data-target="#carousel-donateList-generic<%= i %>" data-slide-to="3" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay +'3.png' || '/img/down_img.jpg' %>);"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay +'0.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay +'1.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay +'2.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                            <div class="item sec-goods-img-default">
                              <div class="sec-goods-img-" style="background-image: url(<%= '/img/'+ donatelistCount[i].username + donatelistCount[i].userGoodsName + donatelistCount[i].selectWay +'3.png' || '/img/down_img.jpg' %>);">

                              </div>
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#carousel-donateList-generic<%= i %>" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-donateList-generic<%= i %>" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                      <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="">
                          <ul>
                            <li>
                              <span class="right_board_categories">类别：</span>
                              <span class="right_board_categories_name"><%= donatelistCount[i].userGoodsSort%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">名称：</span>
                              <span class="right_board_categories_name"><%= donatelistCount[i].userGoodsName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系人：</span>
                              <span class="right_board_categories_name"><%= donatelistCount[i].userName%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">联系电话：</span>
                              <span class="right_board_categories_name"><%= donatelistCount[i].userPhone%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">发布时间：</span>
                              <span class="right_board_categories_name"><%= donatelistCount[i].publicTime%></span>
                            </li>
                            <li>
                              <span class="right_board_categories">交易状态：</span>

                              <% if(donatelistCount[i].goodsStatus == "finish") { %>
                                <button class ="btn btn-success" disabled>交易结束</button>
                              <% } else {%>
                                <button class ="btn btn-success donateFinish">交易进行中</button>
                              <%}%>
                            </li>
                            <li>
                              <span class="right_board_categories">详细补充：</span> <br>
                              <span class="product_details_addText right_board_categories_name">
                                  <%= donatelistCount[i].userGoodsaddText%>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(donatelistCount[i].goodsStatus == "finish") { %>
                    <i class="fa fa-times" style="display: block;"></i>
                  <% } else {%>
                    <i class="fa fa-times" style="display: none;"></i>
                  <%}%>
                </section>
                <hr>
              <% }%>
          </section>
          <footer class="deliver-page">
            <nav aria-label="Page navigation" class="navbar  navbar-right">
              <!-- <ul class="pagination userGoodsPagination">

              </ul> -->
            </nav>
          </footer>
          <footer class="copy_right">
              <p>Copyright © 2017.Adou All rights reserved.</p>
          </footer>
        </div>
    </section>

    <input type="" name="" class="finish" value="交易结束" hidden>

    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/custom-styles.js">

    </script>
  </body>
</html>
